%h2 Login
%form
  Username:
  %br
    %input{:name => "username", :type => "text"}
      %br
        Password:
        %br
          %input{:name => "password", :type => "text"}
            %br
              %br
                %input{:type => "submit", :value => "sign in"}/
