.card
  .card-header= t('companies.edit_form_header')

  .card-body
    = render partial: 'form', locals: {resource: @resource}

    = link_to t('companies.show_link'), admin_manage_company_path(@resource)
    \|
    = link_to t('default.back_link'), admin_manage_companies_path
