%ul.navbar-nav.mr-auto
  %li.nav-item.active
    %a.nav-link{:href => '#'}
      =fa_icon 'home'
      Home
%ul.navbar-nav.ml-auto
  %li.nav-item.active
    =link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
      =fa_icon 'sign-out'
      Log out
